
<h2 class="mb-4">{{categoria.nome}}</h2>

{{#each postagens}}
  <div class="card mb-4">
    <div class="card-body">
      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
      <p class="lead">{{conteudo}}</p>
      <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
      <hr class="mt-4" />
      <br />
      <small>Data de publicação: {{formatDate data}}</small>
    </div>
  </div>
{{else}}
  <h5>Nenhuma posatgem</h5>
{{/each}}